.popup {
    align-items: flex-start;
    bottom: 0;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

.popup_off{
    display: none;
}

.popup_on{
    display: flex;
}