.edit-button {
    width: 24px;
    height: 24px;
    margin-top: 16px;
    transition: 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 670px) {
    .edit-button {
        width: 18px;
        height: 18px;
        margin-right: 20px;
    }
}
.edit-button:hover{
    opacity: 0.6;
}