.popup__cross-button {
    width: 32px;
    height: 32px;
    left: 435px;
    position: absolute;
    top: -40px;
    transition: 1s ease;
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-image: url(./../../../images/close-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 670px) {
    .popup__cross-button {
        left: 262px;
        width: 20px;
        height: 20px;
        top: -35px;
    }
}

.popup__cross-button:hover{
    opacity: 0.6;
}