.popup__inputbox {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    gap: 27px;
}

@media screen and (max-width: 670px) {
    .popup__inputbox{
        margin-top: 72px;
        gap: 28px;
    }
}

