.popup__inputbox {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    gap: 35px;

}

@media screen and (max-width: 670px) {
    .popup__inputbox{
        margin-top: 80px;
    }
}

