.popup__save-button_inactive {
    opacity: 0.2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: not-allowed;
    border: black 1px solid;
    color: black;
    background: none;
}